//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Created Time: Fri 05 22 20:30:39 2026

# ==== LED ====
IO_LOC  "PSCONE_LED_OUT[5]" 20;
IO_PORT "PSCONE_LED_OUT[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "PSCONE_LED_OUT[4]" 19;
IO_PORT "PSCONE_LED_OUT[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "PSCONE_LED_OUT[3]" 18;
IO_PORT "PSCONE_LED_OUT[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "PSCONE_LED_OUT[2]" 17;
IO_PORT "PSCONE_LED_OUT[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "PSCONE_LED_OUT[1]" 16;
IO_PORT "PSCONE_LED_OUT[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "PSCONE_LED_OUT[0]" 15;
IO_PORT "PSCONE_LED_OUT[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

# ==== CLK ====
IO_LOC  "sys_reset" 88;
IO_PORT "sys_reset" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "sys_clk" 4;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

# ==== PSC-ONE SW ====
IO_LOC  "PSCONE_SW1" 86;
IO_PORT "PSCONE_SW1" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "PSCONE_SW2" 79;
IO_PORT "PSCONE_SW2" PULL_MODE=UP IO_TYPE=LVCMOS33;

# ==== PSC-ONE LCD ====
# output data
IO_LOC  "PSCONE_LCD_CS" 48;
IO_PORT "PSCONE_LCD_CS" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "PSCONE_LCD_RST" 27;
IO_PORT "PSCONE_LCD_RST" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "PSCONE_LCD_BL" 25;
IO_PORT "PSCONE_LCD_BL" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "PSCONE_LCD_DC" 77;
IO_PORT "PSCONE_LCD_DC" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "PSCONE_LCD_SCK" 41;
IO_PORT "PSCONE_LCD_SCK" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "PSCONE_LCD_SDI" 49;
IO_PORT "PSCONE_LCD_SDI" PULL_MODE=UP IO_TYPE=LVCMOS33;
# input
IO_LOC  "PSCONE_LCD_SDO" 28;
IO_PORT "PSCONE_LCD_SDO" PULL_MODE=NONE IO_TYPE=LVCMOS33;

# ==== SD-Card ====
### all pull-up      ###
### SD_D3 = sd_cs_n  ###
### SD_CLK = SCLK    ###
### SD_D0 = sd_miso  ###
### SD_CMD = sd_mosi ###

IO_LOC  "SD_D3" 81;
IO_PORT "SD_D3" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "SD_CLK" 83;
IO_PORT "SD_CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "SD_D0" 84;
IO_PORT "SD_D0" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "SD_CMD" 82;
IO_PORT "SD_CMD" PULL_MODE=UP IO_TYPE=LVCMOS33;

# ==== UART ====
IO_LOC  "UART_RXD" 70;
IO_PORT "UART_RXD" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "UART_TXD" 69;
IO_PORT "UART_TXD" PULL_MODE=UP IO_TYPE=LVCMOS33;

# ==== I2S ====
IO_LOC  "I2S_SCK" 29;
IO_PORT "I2S_SCK" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC  "I2S_SD" 26;
IO_PORT "I2S_SD" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "I2S_WS" 30;
IO_PORT "I2S_WS" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC  "I2S_LR" 31;
IO_PORT "I2S_LR" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;